# === Xcode ===
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
DerivedData/
build/
xcuserdata/
*.xcworkspace/contents.xcworkspacedata
.swiftpm/

# === Firebase ===
GoogleService-Info.plist

# === SwiftPM ===
.build/
Packages/
